# KeepAlive Off
RewriteEngine on
# Commenting out HTTPS redirection as it may cause issues in Home Assistant
# RewriteCond %{HTTPS} off
# RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Commenting out CSP header as it may cause issues
# Header always set Content-Security-Policy: upgrade-insecure-requests

# Log access attempts
RewriteRule .* - [E=REMOTE_ADDR:%{REMOTE_ADDR},L]

# RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /fork/index.php?url=$1

<Files "log.txt">
  Order Allow,Deny
  Deny from all
</Files>
